body {
    background-color: white;
    margin: auto;
    height: 1000px;
}

header {
    position: sticky;
    top: 0;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title button{
    font-size: 18px;
    color: white;
    background-color: black;  
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}


