body {
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: repeat();
}

header {
    position: sticky;
    top: 0;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title button{
    font-size: 25px;
    color: white;
    background-color: black; 
    border: none; 
    border-radius: 20px;
    font-family:'Times New Roman', Times, serif;
}

.title button:hover{
    background-color: green;
}

.title {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.recipe {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}

.recipe-img, .description{
    display: block;
    margin: auto;
}

.recipe-img{
    position: relative;
    padding-bottom: 10px;
}

.description{
    position: relative;
    width: fit-content;
    height: fit-content;
    resize: both;
    padding: 7px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 16px;
}

.remove{
    position:absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}

.remove:hover{
    background-color: red;
}
